#h1{
    font-size: 50;
}
#h2{
    color: blue;
    font-size: 30;
    font-style: bold;
}
#h21{
    color: blue;
    font-size: 30;
    font-style: bold;
} 
#h12{
    color: red; 
    font-style: bold;
}
#GL{
    height: 150;
    width: 150;
}
#mn{
    height: 150;
    width: 200;
}